table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}
table td {
    border: 2px solid black; 
    text-align: center;
}
table tr:first-child td {
    border-top: 0;
}
table tr td:first-child {
    border-left: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:last-child {
    border-right: 0;
}
