@keyframes slider {
 0% {
    left: 0;
}

20% {
    left: 0;
}

25% {
    left:-100%;
}

45% {
    left:-100%;
}

50% {
    left:-200%;
}

70% {
    left:-200%;
}

75% {
    left:-300%;
}

95% {
    left:-300%;
}
100% {
    left:-400%;
}
}
#slider {
    overflow: hidden; 
}
#slider figure img {
    width: 20%;
    float: left; 
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slider infinite;
}
header{
    margin-top: 40px;
}
#headerPictureFont{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100%;
    position: fixed;
    z-index: -2;
    margin-top: -400px;
}
#headerPicture {
    position: relative;
    margin: auto;
    width: 750px;
    margin-bottom: 30px;
    box-shadow: 7px 7px 10px #404040;
}
main{
    position: relative;
    background-color: white;
    margin: auto;
    width: 83%;
    box-shadow: 0px 0px 10px 10px white;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.mainBackground{
    box-shadow: 0 0 100px 300px #d9d9d9;
    background-color: #d9d9d9;
    width: 100%;
}
.navContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 54px;
}
#navBar {
    overflow: hidden;
    background-color: white;
}
#navButton {
    display: block;
    float: left;
    padding: 15px 35px;
    text-align: center;
    border-bottom: solid 2px black;
}
.onPageButton{
    background-color: #ddd;
    border-bottom: solid 2px white;
}
#navButton a{
    text-decoration: none;
    color: black;    
    font-size: 20px;
}
#navButton:hover{
    background-color: #ddd;
    cursor: pointer;
    border-bottom: solid 2px white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.mainPaddingAdd {
    padding-top: 100px;
}
body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #d9d9d9;
    /*font-family: "Lucida Console", Monaco, monospace;*/
}
h1{
    text-align: center;
    text-size-adjust: 40px;
}
p{
    text-align: justify;
    font-size: 20px;
}
footer{
    margin-bottom: 0px;
    margin:auto;
    width: 100%;
    height: 150px;
    background-color: #a6a6a6;
    box-shadow: 0px 0px 10px 10px #a6a6a6;
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
}