table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;    
}
table td {
    border: 2px solid black; 
}
table tr:first-child td {
    border-top: 0;
}
table tr td:first-child {
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:last-child {
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    
}
table td{
    text-align: center;
}